* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 44px 32px 48px 32px;
  gap: 20px;
}

.container-btn button {
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #faf0e6;
  transition: opacity 0.3s;
}
.container-btn button:hover {
  opacity: 0.8;
}
ul li img {
  max-width: 100%;
  border-radius: 6px;
}
.img1 {
  height: 79%;
}

ul {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 32px;
  justify-content: center;
}
li {
  border: 2px solid #faf0e6;
  padding: 8px;
  border-radius: 8px;
}
.name-burger {
  font-size: 17px;
  margin-bottom: 5px;
  color: rgb(255, 196, 3);
}
.price {
  font-size: 20px;
  color: rgb(93, 248, 4);
}
.totale {
  border: 2px solid #eb7907;
  padding: 18px;
  border-radius: 8px;
}
.value-total {
  color: rgb(248, 232, 4);
}
.value {
  font-weight: 600;
  font-size: 22px;
  color: aliceblue;
}
body {
  background: url(assets/mockup-photos-5nUNdLueQio-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 720px) {
  ul {
    grid-template-columns: 200px 200px;
  }
}
@media (max-width: 500px) {
  .ul ul {
    display: grid;
    grid-template-columns: 200px;
  }
  ul {
    margin-bottom: 50px;
  }
  .container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px 32px 48px 32px;
    gap: 20px;
    flex-wrap: wrap;
  }
}
